notes = []
for article, slug in public.notes._data
    if article.date
        - article.slug = slug
        - notes.push(public.notes._data[slug])

section.__container
    //- for each article in the _data.json file in public/notes
    for article in notes.sort(function(a,b){ a = new Date(a.date); b = new Date(b.date); return b<a?-1:b>a?1:0; }).slice(0, postlimit)
        if (environment==='production' && article.featured !== true) || (environment==='development')
            article.grid__col.grid__col--one-of-one.grid--no-gutter.note-list(class="#{ article.featured===true ? 'featured' : '' }")
                header
                    h2 
                        a(href="/notes/#{ article.slug }")= article.title
                    h4
                        i.licon-clock
                        time(datetime="#{ new Date(article.date) }", title-face="#{ article.date }", title-dir)= article.endate
                p= article.description
                if disqus && article.disqus !== false
                    a(href="/notes/#{ article.slug }")
                        b= comment_name
        if postlimit < notes.length
            a.all--posts(href="/notes") باقی نوشته ها
                i.licon-arrowleft