header.__container.__header

    section.grid__col.grid__col--one-of-one.grid__col--am.grid__col--about
        a.__large.__title-name(href="#{site_url}")
            img(src="https://www.gravatar.com/avatar/#{profile_image}?s=175", alt="#{site_title}", class="header__about-image")
            = nickname
        p.header__about.__small بنیان گذار، توسعه دهنده نرم افزار در &nbsp;
            a(href="http://twitter.com/fictionteam", target="_blank") FictionTeam
            | • طراح وب در 
            a(href="http://netbarg.com", target="_blank") نت‌برگ
            | .
            br     
            a(href="http://twitter.com/#{twitter_account}", target="_blank") توییتر
            | ، 
            a(href="http://github.com/#{github_account}", target="_blank") گیت‌هاب
            | ، 
            a(href="http://instagram.com/#{instagram_account}", target="_blank") اینستاگرام
            | .
        hr